/python/data_processed/.RData
/python/data_processed/.Rhistory
/python/data_raw/.RData
/python/data_raw/.Rhistory
/python/data_raw/weatherDataPerStation/.RData
/python/data_raw/weatherDataPerStation/.Rhistory
